{% extends "base.html" %}

{% block content %}

<p>Здесь можно складывать (+), умножать (*), делить (/) и возводить (^) числа в натуральную степень!</p>

<form action = "/calc" method = 'GET'>
    <input type="number", name="number1", value="{{num1}}" />
    <input type="number", name="number2", value="{{num2}}" />
    <input type="char", name="operation", value="{{opr}}" />
    <input type="submit", value="узнать">
</form>

<p>{{num1}} {{opr}} {{num2}} = {{res}}</p>

{% endblock %}